body {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #536878;
    height: 60px;
    width: 60px;
    font-size: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: #708090;
    height: 500px;
    width: 350px;
    vertical-align:auto;
    margin-top: 200px;
    border-style: solid;
    border-color: cornflowerblue;
    align-items: center;
}

.display {
    background-color: aqua;
    height: 100px;
    width: 300px;
    margin: 25px;
}

.keypad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 300px;
    height: 300px;
    margin: 25px;
}

.buttonRow {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 75px;
    gap: 10px;
}

.button {
    width: 60px;
    height: 60px;
    background-color: #536878;
}

.operatorButton {
    width: 60px;
    height: 60px;
    background-color: #536878;
}


.display-box {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 295px;
    height: 45px;
}

#inputDisplay {
    font-size: 42px;
}

#answerDisplay {
    font-size: 42px;
}