body {
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    height: 500px;
    width: 350px;
    vertical-align:auto;
    margin-top: 200px;
    border-style: solid;
    border-color: cornflowerblue;
    align-items: center;
}

.display {
    background-color: aqua;
    height: 100px;
    width: 300px;
    margin: 25px;
}

.keypad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 300px;
    height: auto;
    margin: 25px;
    border-style: solid;
}

.buttonRow {
    display: flex;
    width: 300px;
    height: 75px;
}

.button {

}